:root{
    --red: hsl(4, 100%, 67%);
    --red-transparent: hsla(4, 100%, 67%, 0.18);

    --blue-dark: hsl(234, 29%, 20%);
    --blue-grey: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);

    --gradient-pink: #ff3e83;
    --gradient-orange: #fd634a;
    --gradient-shadow: #fd624a68;
}